<h2>,Hey <%= @company.user_name %></h2>
<p>
    Someone has requested a link to change the password for your account. You can do so using the link below
    <br>
    <%= link_to  "here", "#{@url}/v1/passwords/#{@company.reset_password}", style: '
    background-color: #21abc7;
    border-radius: 100px;
    color: #ffffff;
    width: 200px;
    display: block;
    margin: 20px auto;
    height:40px;
    line-height: 40px;
    text-align: center;
    text-decoration:  none;
    font-weight:  500;
    ' %>
    If you didn't ask for a new password, you can safely ignore or delete this email.
</p>    