<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="background: #ddd">
      <div style="background:#fff; max-width: 450px ; margin:50px auto; border-radius: 4px; padding: 50px 20px 100px">
        <%= yield %>
      </div>
  </body>
</html>
